@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Todo Privacy Statement</h1> <hr />

<Div>
    <h2>What information Todo collects</h2>
    <p>"User Personal Information" is any information about one of our Users which could, alone or together with other information, personally identify them or otherwise be reasonably linked or connected with them. Information such as an Internet protocol (IP) address, and/or a photograph, a user id, a password, an email address are examples of “User Personal Information.”
        User Personal Information does not include aggregated, non-personally identifying information that does not identify a User or cannot otherwise be reasonably linked or connected with them. We may use such aggregated, non-personally identifying information for research purposes and to operate, analyze, improve, and optimize our Website and Service. </p>
    
    <hr />

    <h2>Information users provide directly to Todo</h2>
    <p>
        <h5>Profile information</h5>
        You may choose to give us more information for your Account profile, such as your full name, your biography, your location, your company, and a URL to a third-party website. This information may include User Personal Information. Please note that your profile information may be visible to other Users of our Service.
    </p>

</Div>
